.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--light-gray-color);

  }
  
  .spinner .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }