.my-orders-menu{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.orders-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.order-item{
    width: 800px;
    height: auto;
    padding: 5px 20px;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
    box-shadow: 3px 3px 3px var(--gray-color);
}
.order-item:hover{
    cursor: pointer;
    background-color: rgb(206, 206, 206);
}