.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 24px;
  margin-bottom: 20px;
  box-sizing: border-box;


  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.home-dropdown {
  margin-top: 20px;
  width: 200px;
}