
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

  nav {

    background-color: var(--primary-color);
    padding: 10px 20px;
    border-bottom: 1px solid var(--third-color);
  }

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 15px;
}

.logo {
  height: 40px;
}

.search-bar-container {
  flex-grow: 1;
  margin: 0 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-icons {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 8rem;
  padding: 5px;
}
.nav-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 8rem;
  padding: 5px;
  gap:10px;
  color: #FC5185;
}
.nav-link:hover{
  color: var(--info-color);
}
.bottom-navbar {
  background-color: var(--primary-color);
  border-top: 1px solid var(--third-color);
  padding: 10px 20px;
}