
:root{
  --primary-color: #B5C18E;
  --secondary-color: #F7DCB9;
  --success-color: #B5C18E;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #B99470;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #6c757d;
  --light-gray-color: #f8f9fa;



}
body {
  margin: 0;
  padding: 0;
  
} 
a{
  text-decoration: none;
  color: var(--info-color);
}
a:hover{

  transform: scale(1.1);

}
