
:root{
  --primary-color: #2A3132;
  --secondary-color: #763626;
  --third-color:  #90AFC5;
  --info-color: #F4A261;
  --danger-color: #D62828;
  --success-color: #2A9D8F;
  --warning-color: #F4A261;
  --light-color: #F4A261;
  --dark-color: #1D3557;





}
body {
  margin: 0;
  padding: 0;
  color:var(--third-color);
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

a{
  text-decoration: none;
  color: var(--info-color);
}
a:hover{

  transform: scale(1.1);

}
