.product-reviews-container{
    width: 70%;
    height: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--dark-color);
    border-radius: 10px;
}

.product-reviews-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;

    border-bottom: solid 2px var(--primary-color);
}
.product-reviews-header h1{
    float: left;
}
.product-reviews-header button{
    float: right;

    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    width: 150px;

    font-size: large;
    font-weight: 700;
}
.product-reviews-header button:hover{
    cursor: pointer;
    background-color: #97a764;
}

.review-cells-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

.review-cell{
    width: 90%;
    height: auto;

    border: solid 1px var(--primary-color);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-review-cell{
    float: left;
    height: auto;
    width: 70%;
}

.right-review-cell{
    float: right;
    height: auto;
}

.review-rating-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}